<footer class="flex flex-wrap justify-center gap-4">
  <section class="w-64">
    <h4 class="text-lg">VoxCon 2026</h4>
    <p>Liége, Belgium</p>
    <p>June 2026</p>
    <p>Reg opens: June 2026</p>
    <p>Reg closes: June 2026</p>
  </section>
  <section class="w-64">
    <h4 class="text-lg">Help</h4>
    <p>socials</p>
    <p><a href="">Frequently Asked Questions</a></p>
  </section>
  <section class="w-64">
    <h4 class="text-lg">Policies</h4>
    <p><a href="">Terms and Conditions</a></p>
    <p><a href="">Rules of conduct</a></p>
  </section>
  <section class="w-64">
    <h4 class="text-lg">Legal</h4>
    <p><a href="">Legal Notice</a></p>
    <p><a href="">Privacy Statement</a></p>
  </section>  
</footer>
<footer class="flex justify-center items-end">
  <span class="text-sm">made with 🍹 in 🇧🇪 on <a href="https://github.com/Vox-Events/voxcon-website"><span class="mdi--github"></span></a> by</span>
  <img src="/jurapeek.png" alt="Jura">
</footer>