<header class="bg-gradient-spectrum p-4 font-bold flex justify-center">
  <a href="regi">Registration opens in 00d::00h::00m::00s - create an account now</a>
</header>
<header class="h-18 flex justify-between items-center px-4">
  <h1 class="text-2xl"><a href='{{i18nhref "/"}}'>VoxCon</a></h1>
  <ul class="flex gap-2 items-center">
    <li><a class="rounded-md hover:bg-neutral-700 p-2" href='{{i18nhref "/about"}}'>About</a></li>
    <li><a class="rounded-md hover:bg-neutral-700 p-2" href='{{i18nhref "/location"}}'>Location</a></li>
    <li><a class="rounded-md hover:bg-neutral-700 p-2" href='{{i18nhref "/schedule"}}'>Schedule</a></li>
    <li><a class="rounded-md hover:bg-neutral-700 p-2" href='/register'>Register</a></li>
    <li><a class="rounded-md hover:bg-neutral-700 p-2" href='{{i18nhref "/volunteering"}}'>Volunteering</a></li>
    <li><div class="rounded-md hover:bg-neutral-700 p-2 relative dropdown">
      <button class="flex items-center">
        <span class="material-symbols-light--language"></span>
        <span>{{.Currentlang.Name}}</span>
      </button>
      <div class="absolute right-0 hidden dropdown-menu">
        <ul class="bg-neutral-700 p-4 rounded-md mt-3 text-right border border-neutral-900">
        {{range $lang := .Languages}}
          <li><a href="/{{if not $lang.Default}}{{$lang.Code}}{{end}}">{{$lang.Name}}</a></li>
        {{end}}
        </ul>
      </div>
    </div></li>
  </ul>
</header>
